/* Custom styles for ResBill */

.form-group.required .control-label:after {
  	content:"*";  	
}

/* Vertikalni posunuti radku */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* Tabulka s otocenou hlavickou sloupcu - pouziti pro tabulku s kratkym obsahem, ale velkym nadpisem sloupce */
.table-header-rotated {
  width: auto !important;
}
.table-header-rotated td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.table-header-rotated td.rotated-col {
  border: 1px solid #ddd;
}
.table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
}
.table-header-rotated th.rotate > div {
  -webkit-transform: translate(0px, 0px) rotate(315deg);
      -ms-transform: translate(0px, 0px) rotate(315deg);
          transform: translate(0px, 0px) rotate(315deg);
  width: 30px;
}
.table-header-rotated th.rotate > div > span {
  padding: 5px 10px;
}

/* Podbarveni pozadi bunky - pouziti napr. pro prouzkovani sloupcu  */
th.striped, td.striped {
  background-color: #eee;
  
  /*
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  */
}

/* Flot Charts */
.flot-chart-container {
  box-sizing: border-box;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.flot-chart-container .legend td {
  padding: 1px;
  padding-left: 5px;
}