<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">

<head>

<th:block th:remove="all">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
</th:block>

<title th:text="#{head.title.servers}">Servery</title>

<th:block th:remove="all">
  <!-- remove all duplicated template css due to auto-merge -->

  <!-- ResBill Custom CSS -->
  <link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />

  <!-- Bootstrap Core CSS -->
  <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

  <!-- Custom Fonts -->
  <link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />

  <!-- SB Admin 2 CSS -->
  <link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

</th:block>

</head>

<body>

  <div layout:fragment="content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" th:text="#{page.header.servers}">Správa serverů</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${serverListDTOs}')}" th:errors="${serverListDTOs}">Global error</div>
    </div>

    <div class="row" th:if="${serverListDTOs != null}">
      <div class="col-lg-12">

        <table class="table" id="servers">
          <thead>
            <tr>
              <!-- <th th:text="#{column.server.serverId}">ID</th>  -->
              <th rowspan="2" th:text="#{column.server.name}">Název</th>
              <th rowspan="2" th:text="#{column.server.contract}">Kontrakt</th>
              <th colspan="4" th:text="#{column.server.dailyUsage}">Spotřeba</th>
              <th rowspan="2" data-orderable="false" data-searchable="false"><a class="btn btn-primary btn-circle" href="serverEdit.html" th:href="@{/servers/edit}" th:title="#{button.title.server.add}">
                  <i class="fa fa-plus-square"></i>
              </a></th>
            </tr>
            <tr>
              <th th:text="#{column.server.dailyUsage.date}">Datum</th>
              <th th:text="#{column.server.dailyUsage.cpu}">CPU</th>
              <th th:text="#{column.server.dailyUsage.memoryGB}">RAM [GB]</th>
              <th th:text="#{column.server.dailyUsage.provisionedSpaceGB}">HDD [GB]</th>
            </tr>
          </thead>
          <tbody th:remove="all-but-first">
            <tr th:each="serverListDTO : ${serverListDTOs}">
              <!-- <td th:text="${serverListDTO.serverId}">server.id.1</td>  -->
              <td th:text="${serverListDTO.name}">Server 1</td>
              <td th:text="${serverListDTO.contractDTO?.name}">Kontrakt xyz</td>
              <td th:text="${serverListDTO.dailyUsageDTO!=null}?${#dates.format(serverListDTO.dailyUsageDTO?.date,'__#{date.format.list}__')}" 
              	th:attr="data-order=${serverListDTO.dailyUsageDTO!=null}?${#dates.format(serverListDTO.dailyUsageDTO?.date,'__#{date.format.order}__')}">1.6.2015</td>
              <td th:text="${serverListDTO.dailyUsageDTO?.cpu}" data-type="num">2</td>
              <td th:text="${serverListDTO.dailyUsageDTO!=null}?${#numbers.formatDecimal(serverListDTO.dailyUsageDTO.memoryGB,1,'DEFAULT',2,'DEFAULT')}" 
                th:attr="data-order=${serverListDTO.dailyUsageDTO?.memoryGB}">6</td>
              <td th:text="${serverListDTO.dailyUsageDTO!=null}?${#numbers.formatDecimal(serverListDTO.dailyUsageDTO.provisionedSpaceGB,1,'DEFAULT',2,'DEFAULT')}" 
              	th:attr="data-order=${serverListDTO.dailyUsageDTO?.provisionedSpaceGB}">200</td>
              <td><a class="btn btn-primary btn-circle" href="serverOverview.html" th:href="@{/servers/overview(serverId=${serverListDTO.id})}"
                th:title="#{button.title.server.edit}"> <i class="fa fa-edit"></i>
              </a></td>
            </tr>
            <tr>
              <td>abcdef.vsb.cz</td>
              <td>Server 2</td>
              <td><a class="btn btn-primary btn-circle" href="serverEdit.html"> <i class="fa fa-edit"></i>
              </a></td>
            </tr>
            <tr>
              <td>xyz-srv</td>
              <td>Server 3</td>
              <td><a class="btn btn-primary btn-circle" href="serverEdit.html"> <i class="fa fa-edit"></i>
              </a></td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>

  <!-- jQuery -->
  <script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"
    th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>

  <!-- DataTables -->
  <script src="../../../bower_components/datatables/media/js/jquery.dataTables.min.js" th:src="@{/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
  <script src="../../../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" th:src="@{/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>

	<th:block layout:fragment="footer">

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(document).ready(function() {
				$('#servers').dataTable();
			});
			/*]]>*/
		</script>
	</th:block>

</body>

</html>