<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">

<head>
<th:block th:remove="all">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
</th:block>

<title th:text="#{head.title.server.overview}">Server - prehled</title>

<th:block th:remove="all">
  <!-- remove all duplicated template css due to auto-merge -->

  <!-- ResBill Custom CSS -->
  <link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />

  <!-- Bootstrap Core CSS -->
  <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

  <!-- Custom Fonts -->
  <link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />

  <!-- SB Admin 2 CSS -->
  <link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</th:block>
</head>

<body>
  <div layout:fragment="content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" th:text="#{page.header.server.overview}">Server - prehled</h1>
      </div>
    </div>

    <!-- Zobrazeni chyb -->
    <div class="row">
      <div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${serverOverviewDTO}')}" th:errors="${serverOverviewDTO}">Global error</div>
    </div>

    <div th:replace="servers/serverFragments :: serverHeader">Hlavicka</div>

    <!-- Zobrazeni prehledovych informaci -->
    <div class="row" th:if="${serverOverviewDTO != null}">
      <div class="col-lg-12">

        <!-- Zakladni informace o serveru -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <!--
              <div class="panel-heading">
                <span th:text="#{panel.server.server}">Server</span>
              </div>
                -->

              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-2">
                    <div class="form-group">
                      <label class="control-label" th:text="#{label.server.serverId}">ID serveru</label>
                      <p class="form-control-static" th:text="${serverOverviewDTO.serverId}">vm-1000</p>
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <div class="form-group">
                      <label class="control-label" th:text="#{label.server.name}">Název</label>
                      <p class="form-control-static" th:text="${serverOverviewDTO.name}">dcex22cit</p>
                    </div>
                  </div>

                  <div class="col-lg-2 text-right">
                    <form role="form" method="post" action="#">
                      <button class="btn btn-danger" type="submit" th:onclick="'return confirm(\'__#{confirm.delete}__\')'" name="delete">
                        <i class="fa fa-trash-o"></i> <span th:text="#{button.delete}">Delete</span>
                      </button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Aktualni spotreba -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span th:text="#{panel.server.dailyUsage.current}">Aktuální spotřeba</span>
              </div>

              <div class="panel-body">
                <div th:if="${serverOverviewDTO.lastDailyUsageDTO != null}">
                  <div class="row">
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.dailyUsage.date}">Datum</label>
                        <p class="form-control-static" th:text="${{serverOverviewDTO.lastDailyUsageDTO.date}}">1.6.2015</p>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.dailyUsage.powerState}">State</label>
                        <p class="form-control-static"
                          th:text="${serverOverviewDTO.lastDailyUsageDTO.powerState}?#{label.server.dailyUsage.powerState.on}:#{label.server.dailyUsage.powerState.off}">Zapnut</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.dailyUsage.cpu}">CPU</label>
                        <p class="form-control-static" th:text="${serverOverviewDTO.lastDailyUsageDTO.cpu}">2</p>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.dailyUsage.provisionedSpaceGB}">HDD [GB]</label>
                        <p class="form-control-static"
                          th:text="${#numbers.formatDecimal(serverOverviewDTO.lastDailyUsageDTO.provisionedSpaceGB,1,'DEFAULT',1,'DEFAULT')}">100</p>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.dailyUsage.usedSpaceGB}">HDD (využito) [GB]</label>
                        <p class="form-control-static"
                          th:text="${#numbers.formatDecimal(serverOverviewDTO.lastDailyUsageDTO.usedSpaceGB,1,'DEFAULT',1,'DEFAULT')}">51</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.dailyUsage.memoryGB}">RAM [GB]</label>
                        <p class="form-control-static" th:text="${#numbers.formatDecimal(serverOverviewDTO.lastDailyUsageDTO.memoryGB,1,'DEFAULT',1,'DEFAULT')}">5</p>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.dailyUsage.backupGB}">Zálohování [GB]</label>
                        <p class="form-control-static"
                          th:text="${#numbers.formatDecimal(serverOverviewDTO.lastDailyUsageDTO.backupSpaceGB,1,'DEFAULT',1,'DEFAULT')}">0</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Aktualni prirazeni ke kontraktu -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span th:text="#{panel.server.contract.current}">Prirazeni ke kontraktu</span> <a th:if="${serverOverviewDTO.currentContractServerId != null}"
                  class="btn btn-default" href="serverContractEdit.html"
                  th:href="@{/servers/contracts/edit(contractServerId=${serverOverviewDTO.currentContractServerId},serverId=${serverOverviewDTO.id})}"
                  th:title="#{button.title.server.contract.edit}"> <i class="fa fa-edit"></i> <span th:text="#{button.title.server.contract.edit}">Upravit</span>
                </a>
              </div>

              <div class="panel-body">
                <p th:if="${serverOverviewDTO.currentContractServerId == null}">
                  <a class="btn btn-primary" href="serverContractEdit.html" th:href="@{/servers/contracts/edit(serverId=${serverOverviewDTO.id})}"
                    th:title="#{button.title.server.contract.add}"> <i class="fa fa-plus-square"></i> <span th:text="#{button.title.server.contract.add}">Pridat
                      novy</span>
                  </a>
                </p>

                <div th:if="${serverOverviewDTO.currentContractDTO != null}">
                  <div class="row">
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.contract.name}">Kontrakt</label>
                        <div class="form-control-static" th:text="${serverOverviewDTO.currentContractDTO.name}">Kontrakt 1</div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.contract.from}">Prirazeno od</label>
                        <div class="form-control-static" th:text="${{serverOverviewDTO.currentContractServerBeginDate}}">1.1.2015</div>
                      </div>
                    </div>

                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="control-label" th:text="#{label.server.contract.to}">Prirazeno do</label>
                        <div class="form-control-static" th:text="${{serverOverviewDTO.currentContractServerEndDate}}">31.12.2015</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- jQuery -->
  <script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"
    th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>
</body>
</html>