<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">

<head>

<th:block th:remove="all">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
</th:block>

<title th:text="#{head.title.server.contracts}">Server - kontrakty</title>

<th:block th:remove="all">
  <!-- remove all duplicated template css due to auto-merge -->

  <!-- ResBill Custom CSS -->
  <link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />

  <!-- Bootstrap Core CSS -->
  <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

  <!-- Custom Fonts -->
  <link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />

  <!-- SB Admin 2 CSS -->
  <link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

</th:block>

</head>

<body>

  <div layout:fragment="content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" th:text="#{page.header.server.contracts}">Kontrakty</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${serverHeaderDTO}')}" th:errors="${serverHeaderDTO}">Global error</div>
    </div>

    <div class="row" th:if="${serverHeaderDTO != null}">
      <div class="col-lg-12">

        <div class="row">
          <div class="col-lg-6">
            <h4 th:text="${serverHeaderDTO.serverId + ' - ' + serverHeaderDTO.name}">jmeno serveru</h4>
          </div>
          <div class="col-lg-6 text-right">
            <a href="serverList.html" class="btn btn-default" th:href="@{/servers}"> <i class="fa fa-reply"></i> <span th:text="#{button.back}">Back</span>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav-tabs">
              <li><a href="serverOverview.html" th:href="@{/servers/overview(serverId=${serverHeaderDTO.id})}" th:text="#{tab.server.overview}">Přehled</a></li>
              <li><a href="serverEdit.html" th:href="@{/servers/edit(serverId=${serverHeaderDTO.id})}" th:text="#{tab.server.edit}">Editace</a></li>
              <li class="active"><a href="serverContractList.html" th:href="@{/servers/contracts(serverId=${serverHeaderDTO.id})}"
                th:text="#{tab.server.contracts}">Kontrakty</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="voffset2 tab-content"></div>
          </div>
        </div>
      </div>
    </div>

    <!--
		<div class="row" th:if="${serverEditDTO != null and serverEditDTO.server.id != null}">
			<div class="col-lg-12">
				
				<h4 th:text="${serverEditDTO.server.serverId + ' - ' + serverEditDTO.server.name}">jmeno serveru</h4>
			
				<ul class="nav nav-tabs">
					<li>
						<a href="serverEdit.html" th:href="@{/servers/edit(serverId=${serverEditDTO.server.id})}" th:text="#{tab.server.edit}">Editace</a>
					</li>
					<li class="active">
						<a href="serverContractList.html" th:href="@{/servers/contracts(serverId=${serverEditDTO.server.id})}" th:text="#{tab.server.contracts}">Kontrakty</a>
					</li>
				</ul>
				<div class="voffset2 tab-content"></div>
			</div>
		</div>
      -->

    <div class="row">
      <div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${serverContracts}')}" th:errors="${serverContracts}">Global error</div>
    </div>

    <div class="row" th:if="${serverContracts != null}">
      <div class="col-lg-12">

        <table class="table" id="serverContracts">
          <thead>
            <tr>
              <th th:text="#{column.server.contract.from}">Prirazeno od</th>
              <th th:text="#{column.server.contract.to}">Prirazeno do</th>
              <th th:text="#{column.server.contract.name}">Název</th>
              <th><a class="btn btn-primary btn-circle" href="serverContractEdit.html"
                th:href="@{/servers/contracts/edit(serverId=${serverEditDTO.server.id})}" th:title="#{button.title.server.contract.add}"> <i
                  class="fa fa-plus-square"></i>
              </a></th>
            </tr>
          </thead>
          <tbody th:remove="all-but-first">
            <tr th:each="serverContract : ${serverContracts}">
              <td th:text="${#dates.format(serverContract.period.beginDate, '__#{date.format.list}__')}">1.1.2000</td>
              <td th:text="${serverContract.period.endDate != null} ? ${#dates.format(serverContract.period.endDate, '__#{date.format.list}__')}">30.6.2001</td>
              <td th:text="${serverContract.contract.name}">Kontrakt 1</td>
              <td><a class="btn btn-primary btn-circle" href="serverContractEdit.html"
                th:href="@{/servers/contracts/edit(contractServerId=${serverContract.id})}" th:title="#{button.title.server.contract.edit}"> <i
                  class="fa fa-edit"></i>
              </a></td>
            </tr>
            <tr>
              <td>1.1.2000</td>
              <td>30.6.2001</td>
              <td>Kontrakt 1</td>
              <td><a class="btn btn-primary btn-circle" href="serverContractEdit.html"> <i class="fa fa-edit"></i>
              </a></td>
            </tr>
            <tr>
              <td>1.1.2000</td>
              <td>30.6.2001</td>
              <td>Kontrakt 1</td>
              <td><a class="btn btn-primary btn-circle" href="serverContractEdit.html"> <i class="fa fa-edit"></i>
              </a></td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>

  <!-- jQuery -->
  <script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"
    th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>

</body>

</html>