<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<title th:text="#{head.title}" layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">ResBill</title>
	
	<!-- ResBill Custom CSS -->
	<link href="../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />
	
	<!-- Bootstrap Core CSS -->
	<link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
	
	<!-- MetisMenu CSS -->
	<link href="../../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/metisMenu/dist/metisMenu.min.css}" />
	
	<!-- SB Admin 2 CSS -->
	<link href="../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />
	
	<!-- Custom Fonts -->
	<link href="../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />
	
	<!-- Datepicker -->
	<link href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only" th:text="#{menu.button.toggle}">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#" th:href="@{/}"><span th:text="#{navbar.brand.title}">ResBill</span></a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right" sec:authorize="isAuthenticated()">
				<li><span sec:authentication="name" class="user-name">admin</span></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li class="divider"></li>
						<li>
							<a href="#" th:href="@{/j_spring_security_logout}">
								<i class="fa fa-sign-out fa-fw"></i>
								<span th:text="#{menu.button.logout}">Logout</span>
							</a>
						</li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li>
							<a href="#">
								<i class="fa fa-bars fa-fw"></i>
								<span th:text="#{menu.reports}">Přehledy</span>
								<span class="fa arrow" ></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a href="reports/agenda.html" th:href="@{/reports/agenda}">
										<i class="fa fa-th fa-fw"></i>
										<span th:text="#{menu.reports.agenda}">Agenda</span>
									</a>
								</li>
								<li>
									<a href="reports/statistics.html" th:href="@{/reports/statistics}">
										<i class="fa fa-bar-chart fa-fw"></i>
										<span th:text="#{menu.reports.statistics}">Statistika</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="customers/customerList.html" th:href="@{/customers}">
								<i class="fa fa-shopping-cart fa-fw"></i>
								<span th:text="#{menu.customers}">Zákazníci</span>
							</a>
						</li>
						<li>
							<a href="contracts/contractList.html" th:href="@{/contracts}">
								<i class="fa fa-paw fa-fw"></i>
								<span th:text="#{menu.contracts}">Kontrakty</span>
							</a>
						</li>            
						<li>
							<a href="servers/serverList.html" th:href="@{/servers}">
								<i class="fa fa-laptop fa-fw"></i>
								<span th:text="#{menu.servers}">Zákazníci</span>
							</a>
						</li>
						<li>
							<a href="tariffs/tariffList.html" th:href="@{/tariffs}">
								<i class="fa fa-money fa-fw"></i>
								<span th:text="#{menu.tariffs}">Tarify</span>
							</a>
						</li>
						<li>
							<a href="persons/personList.html" th:href="@{/persons}">
								<i class="fa fa-users fa-fw"></i>
								<span th:text="#{menu.persons}">Osoby</span>
							</a>
						</li>
						<li>
							<a href="dailyImport/dailyImportList.html" th:href="@{/dailyImport}">
								<i class="fa fa-download fa-fw"></i>
								<span th:text="#{menu.dailyImports}">Denní importy</span>
							</a>
						</li>
						<li>
							<a href="invoice/invoiceList.html" th:href="@{/invoice}">
								<i class="fa fa-calculator fa-fw"></i>
								<span th:text="#{menu.invoices}">Faktury</span>
							</a>
						</li>						
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<!-- Page Content -->
		<div id="page-wrapper" layout:fragment="content">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Layout page</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="../../bower_components/metisMenu/dist/metisMenu.min.js" th:src="@{/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js" th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>

	<!-- Datepicker -->
	<script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" th:src="@{/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script src="../../bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js" th:src="@{/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js}"></script>

	<!-- DataTables -->
	<script src="../../bower_components/datatables/media/js/jquery.dataTables.min.js" th:src="@{/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
	<script src="../../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" th:src="@{/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var optAll = /*[[#{option.all}]]*/ "vsechno";
		var langUrl = /*[[@{/bower_components/datatables-plugins/i18n/Czech.lang}]]*/ "../../bower_components/datatables-plugins/i18n/Czech.lang";
		$.extend($.fn.dataTable.defaults, {
			"language" : {
				"url" : langUrl
			},
			"info" : true,
			"lengthChange" : true,
			"lengthMenu" : [ [ 10, 25, 50, 100, -1 ], [ 10, 25, 50, 100, optAll ] ],
			"ordering" : true,
			"paging" : true,
			"pagingType" : "simple_numbers",
			"processing" : true,
			"searching" : true,
			"stateSave" : false,
			"decimal" : ",",
			"thousands" : " ",
			"dom" : '<"row"<"col-lg-6"f><"col-lg-6 text-right"l>><"row"<"col-lg-12"tr>><"row"<"col-lg-6"p><"col-lg-6 text-right"i>>',
		});
		/*]]>*/
	</script>

	<th:block layout:fragment="footer">
	</th:block>

</body>

</html>
