<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>

	<th:block th:remove="all">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
	</th:block>

	<title th:text="#{head.title.login}">Prihlaseni</title>
	
	<th:block th:remove="all">
	<!-- remove all duplicated template css due to auto-merge -->
	
		<!-- ResBill Custom CSS -->
		<link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />
	
		<!-- Bootstrap Core CSS -->
		<link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
	
		<!-- Custom Fonts -->
		<link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />
	
		<!-- SB Admin 2 CSS -->
		<link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />
	
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	
	</th:block>

</head>
<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="#{panel.login}">Please Sign In</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger" th:if="${param.error != null}">
							<span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">msg</span>
						</div>
						<form role="form" name="loginform" action="#" th:action="@{/login/check}" method="POST">
							<fieldset>
								<div class="form-group">
									<label class="control-label" th:text="#{label.user.name}" th:for="user.name">Username</label>
									<input class="form-control" id="user.name" name="username" type="text" autofocus="autofocus" />
								</div>
								<div class="form-group">
									<label class="control-label" th:text="#{label.password}" th:for="password">Password</label>
									<input class="form-control" id="password" name="password" type="password" value="" />
								</div>
								<button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">
									<i class="fa fa-sign-in"></i>
									<span th:text="#{button.login}">Login</span>
								</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>