<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>

	<th:block th:remove="all">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
	</th:block>

	<title th:text="#{head.title.tariffs}">Tarify</title>
	
	<th:block th:remove="all">
	<!-- remove all duplicated template css due to auto-merge -->
	
		<!-- ResBill Custom CSS -->
		<link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />
	
		<!-- Bootstrap Core CSS -->
		<link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
	
		<!-- Custom Fonts -->
		<link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />
	
		<!-- SB Admin 2 CSS -->
		<link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />
	
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	
	</th:block>

</head>

<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:text="#{page.header.tariffs}">Správa tarifů</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${tariffPriceListDTOs}')}" th:errors="${tariffPriceListDTOs}">Global error</div>
		</div>
		
		<div class="row" th:if="${tariffPriceListDTOs != null}">
			<div class="col-lg-12">

				<table class="table" id="tariffs">
					<thead>
						<tr>
							<th rowspan="2" th:text="#{column.tariff.name}">Nazev</th>
							<th rowspan="2" th:text="#{column.tariff.validity}">Platnost</th>
							<th colspan="5" th:text="#{column.tariff.priceList.last}">Ceník</th>
							<th rowspan="2">
								<a class="btn btn-primary btn-circle" href="tariffEdit.html" th:href="@{/tariffs/edit}" th:title="#{button.title.tariff.add}">
									<i class="fa fa-plus-square"></i>
								</a>
							</th>
						</tr>
						<tr>
							<th th:text="#{column.priceList.period.beginDate}">Platnost od</th>
							<th th:text="#{column.priceList.price.cpu}">Cena CPU</th>
							<th th:text="#{column.priceList.price.memory}">Cena pamet</th>
							<th th:text="#{column.priceList.price.space}">Cena data</th>
							<th th:text="#{column.priceList.price.backup}">Cena zaloha</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="dto : ${tariffPriceListDTOs}">
							<td th:text="${dto.tariff.name}">tarif 1</td>
							<td>
								<i class="fa fa-check" th:if="${dto.tariff.valid}"></i>
							</td>
							<td th:text="${#dates.format(dto.lastPriceList.period.beginDate, '__#{date.format.list}__')}">1.1.0001</td>
							<td th:text="${#numbers.formatDecimal(dto.lastPriceList.cpuPrice,1,'DEFAULT',2,'DEFAULT')}">10,25</td>
							<td th:text="${#numbers.formatDecimal(dto.lastPriceList.memoryGBPrice,1,'DEFAULT',2,'DEFAULT')}">10,25</td>
							<td th:text="${#numbers.formatDecimal(dto.lastPriceList.spaceGBPrice,1,'DEFAULT',2,'DEFAULT')}">10,25</td>
							<td th:text="${#numbers.formatDecimal(dto.lastPriceList.backupGBPrice,1,'DEFAULT',2,'DEFAULT')}">10,25</td>
							<td>
								<a class="btn btn-primary btn-circle" href="tariffEdit.html" th:href="@{/tariffs/edit(tariffId=${dto.tariff.id})}" th:title="#{button.title.tariff.edit}">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td>tarif 2</td>
							<td>
								<i class="fa fa-check"></i>
							</td>
							<td>1.12.2014</td>
							<td>10,25</td>
							<td>10,25</td>
							<td>10,25</td>
							<td>10,25</td>
							<td>
								<a class="btn btn-primary btn-circle" href="tariffEdit.html">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td>tarif 3</td>
							<td>
								<i class="fa fa-check"></i>
							</td>
							<td>1.12.2014</td>
							<td>10,25</td>
							<td>10,25</td>
							<td>10,25</td>
							<td>10,25</td>
							<td>
								<a class="btn btn-primary btn-circle" href="tariffEdit.html">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>

	<!-- jQuery -->
	<script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js" th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>

</body>

</html>