<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<th:block th:remove="all">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
</th:block>

<title th:text="#{head.title.dailyImportList}">Denní importy</title>

<th:block th:remove="all">
	<!-- remove all duplicated template css due to auto-merge -->

	<!-- ResBill Custom CSS -->
	<link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />

	<!-- Bootstrap Core CSS -->
	<link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"
		th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

	<!-- Custom Fonts -->
	<link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
		th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />

	<!-- SB Admin 2 CSS -->
	<link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css"
		th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</th:block>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:text="#{page.header.dailyImportList}">Denní importy</h1>
			</div>
		</div>

		<!-- Zobrazeni chyb -->
		<div class="row">
			<div class="col-lg-12 alert alert-danger"
				th:if="${showImportAllResults != null and #fields.hasErrors('${importAllResultsDTO}')}"
				th:errors="${importAllResultsDTO}">Global error</div>
		</div>
		<div class="row">
			<div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${dailyImports}')}" th:errors="${dailyImports}">Global error</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<form role="form" method="post" action="#">
					<p>
						<button class="btn btn-primary" type="submit" name="importAllReports">
							<i class="fa fa-download"></i> <span th:text="#{button.title.dailyImport.importAll}">Importovat vše</span>
						</button>
					</p>
				</form>
			</div>
		</div>



		<div class="row" th:if="${showImportAllResults}">
			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{panel.dailyImport.importAllResults}">Výsledek importu</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-lg-2">
								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.importBegin}">Začátek importu</label>
									<p class="form-control-static" th:text="${#dates.format(importAllResultsDTO.beginTimestamp,'__#{timestamp.format.detail}__')}">1.5.2015
										08:05:30.123</p>
								</div>

								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.importEnd}">Konec importu</label>
									<p class="form-control-static" th:text="${#dates.format(importAllResultsDTO.endTimestamp,'__#{timestamp.format.detail}__')}">1.5.2015 08:05:30.123</p>
								</div>
							</div>

							<div class="col-lg-5">
								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.reportsNumberAll}">Počet všech zpracovávaných souborů</label>
									<p class="form-control-static" th:text="${importAllResultsDTO.allReports}">20</p>
								</div>

								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.reportsNumberOk}">Počet importovaných souborů se všemi řádky bezvadnými</label>
									<p class="form-control-static" th:text="${importAllResultsDTO.okReports}">5</p>
								</div>

								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.reportsNumberWarn}">Počet importovaných souborů s řádky s varováním</label>
									<p class="form-control-static" th:text="${importAllResultsDTO.warnReports}">6</p>
								</div>
							</div>

							<div class="col-lg-5">
								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.reportsNumberError}">Počet importovaných souborů s řádky s chybou</label>
									<p class="form-control-static" th:text="${importAllResultsDTO.errorReports}">3</p>
								</div>

								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.reportsNumberExists}">Počet nezpracovaných souborů - soubory byly již dříve
										naimportovány</label>
									<p class="form-control-static" th:text="${importAllResultsDTO.existsReports}">5</p>
								</div>

								<div class="form-group">
									<label class="control-label" th:text="#{label.dailyImport.reportsNumberCritError}">Počet nezpracovaných souborů - závažná chyba při zpracování</label>
									<p class="form-control-static" th:text="${importAllResultsDTO.criticalErrorReports}">1</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row" th:if="${dailyImports != null}">
			<div class="col-lg-12">

				<table class="table" id="dailyImports">
					<thead>
						<tr>
							<th rowspan="2" th:text="#{column.dailyImport.date}">Datum</th>
							<th rowspan="2" th:text="#{column.dailyImport.srcFileName}">Soubor</th>
							<th rowspan="2" th:text="#{column.dailyImport.result}">Výsledek</th>
							<th colspan="4" th:text="#{column.dailyImport.linesNumber}">Počet řádků</th>
						</tr>
						<tr>
							<th th:text="#{column.dailyImport.linesNumberAll}">Celkem</th>
							<th th:text="#{column.dailyImport.linesNumberOk}">Bezvadných</th>
							<th th:text="#{column.dailyImport.linesNumberWarn}">S varováním</th>
							<th th:text="#{column.dailyImport.linesNumberError}">Chybných</th>
							<th data-orderable="false" data-searchable="false"></th>
						</tr>
					</thead>

					<tbody th:remove="all-but-first">
						<tr th:each="dailyImport : ${dailyImports}">
							<td th:text="${#dates.format(dailyImport.date,'__#{date.format.list}__')}" th:attr="data-order=${#dates.format(dailyImport.date,'__#{date.format.order}__')}">2.6.2015</td>
							<td th:text="${dailyImport.reportName}">report_2015_06_02</td>
							<td th:text="${dailyImport.success}?#{text.dailyImport.ok}:#{text.dailyImport.error}">OK</td>
							<td th:text="${dailyImport.allLines}" data-type="num">321</td>
							<td th:text="${dailyImport.okLines}" data-type="num">300</td>
							<td th:text="${dailyImport.warnLines}" data-type="num">21</td>
							<td th:text="${dailyImport.errorLines}" data-type="num">0</td>
							<td><a class="btn btn-primary btn-circle" href="dailyImportDetail.html" th:href="@{/dailyImport/detail(dailyImportId=${dailyImport.id})}"
								th:title="#{button.title.dailyImport.detail}"> <i class="fa fa-edit"></i>
							</a></td>
						</tr>

						<tr>
							<td>1.6.2015</td>
							<td>report_2015_06_01</td>
							<td>Chyba</td>
							<td>123</td>
							<td>100</td>
							<td>22</td>
							<td>1</td>
							<td><a class="btn btn-primary btn-circle" href="dailyImportDetail.html"> <i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"
		th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>

	<!-- DataTables -->
	<script src="../../../bower_components/datatables/media/js/jquery.dataTables.min.js" th:src="@{/bower_components/datatables/media/js/jquery.dataTables.min.js}"></script>
	<script src="../../../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" th:src="@{/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>

	<th:block layout:fragment="footer">

		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(document).ready(function() {
				$('#dailyImports').dataTable();
			});
			/*]]>*/
		</script>
	</th:block>

</body>
</html>