<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>

	<th:block th:remove="all">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
	</th:block>

	<title th:text="#{head.title.contract.servers}">Kontrakt - servery</title>
	
	<th:block th:remove="all">
	<!-- remove all duplicated template css due to auto-merge -->
	
		<!-- ResBill Custom CSS -->
		<link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />
	
		<!-- Bootstrap Core CSS -->
		<link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
	
		<!-- Custom Fonts -->
		<link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />
	
		<!-- SB Admin 2 CSS -->
		<link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />
	
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	
	</th:block>

</head>

<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:text="#{page.header.contract.servers}">Servery</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${contractEditDTO}')}" th:errors="${contractEditDTO}">Global error</div>
		</div>
		
		<div class="row" th:if="${contractEditDTO != null and contractEditDTO.contract.id != null}">
			<div class="col-lg-12">
				
				<h4 th:text="${contractEditDTO.contract.evidenceNumber + ' - ' + contractEditDTO.contract.name + ' (' + #numbers.formatDecimal(contractEditDTO.contract.balance,1,'DEFAULT',2,'DEFAULT') + ')'}">Identifikace kontraktu</h4>
			
				<ul class="nav nav-tabs">
					<li>
						<a href="contractEdit.html" th:href="@{/contracts/edit(contractId=${contractEditDTO.contract.id})}" th:text="#{tab.contract.edit}">Editace</a>
					</li>
					<li>
						<a href="contractInvoiceTypeList.html" th:href="@{/contracts/invoiceTypes(contractId=${contractEditDTO.contract.id})}" th:text="#{tab.contract.invoiceTypes}">Typy uctovani</a>
					</li>
					<li>
						<a href="contractTariffList.html" th:href="@{/contracts/tariffs(contractId=${contractEditDTO.contract.id})}" th:text="#{tab.contract.tariffs}">Tarify</a>
					</li>
					
					<li class="active">
						<a href="contractServerList.html" th:href="@{/contracts/servers(contractId=${contractEditDTO.contract.id})}" th:text="#{tab.contract.servers}">Servery</a>
					</li>
					<li>
						<a href="contractTransactionList.html" th:href="@{/contracts/transactions(contractId=${contractEditDTO.contract.id})}" th:text="#{tab.contract.transactions}">Účetní položky</a>
					</li>
					<li>
						<a href="contractInvoiceList.html" th:href="@{/contracts/invoices(contractId=${contractEditDTO.contract.id})}" th:text="#{tab.contract.invoices}">Faktury</a>
					</li>
				</ul>
				<div class="voffset2 tab-content"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${contractServers}')}" th:errors="${contractServers}">Global error</div>
		</div>
		
		<div class="row" th:if="${contractServers == null}">
			<div class="col-lg-12">
				<p>
					<a href="contractEdit.html" class="btn btn-default" th:href="@{/contracts/edit(contractId=${contractEditDTO.contract.id})}" >
						<i class="fa fa-reply"></i>
						<span th:text="#{button.back}">Back</span>
					</a>
				</p>				
			</div>
		</div>

		<div class="row" th:if="${contractServers != null}">
			<div class="col-lg-12">

				<table class="table" id="contractServers">
					<thead>
						<tr>
							<th th:text="#{column.contract.server.from}">Prirazeno od</th>
							<th th:text="#{column.contract.server.to}">Prirazeno do</th>
							<th th:text="#{column.contract.server.name}">Název</th>
							<th>
								<a class="btn btn-primary btn-circle" href="contractServerEdit.html" th:href="@{/contracts/servers/edit(contractId=${contractEditDTO.contract.id})}" th:title="#{button.title.contract.server.add}">
									<i class="fa fa-plus-square"></i>
								</a>
							</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="contractServer : ${contractServers}">
							<td th:text="${#dates.format(contractServer.period.beginDate, '__#{date.format.list}__')}">1.1.2000</td>
							<td th:text="${contractServer.period.endDate != null} ? ${#dates.format(contractServer.period.endDate, '__#{date.format.list}__')}">30.6.2001</td>
							<td th:text="${contractServer.server.name}">Server 1</td>
							<td>
								<a class="btn btn-primary btn-circle" href="contractServerEdit.html" th:href="@{/contracts/servers/edit(contractServerId=${contractServer.id})}" th:title="#{button.title.contract.server.edit}">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td>1.1.2000</td>
							<td>30.6.2001</td>
							<td>Server 1</td>
							<td>
								<a class="btn btn-primary btn-circle" href="contractServerEdit.html">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td>1.1.2000</td>
							<td>30.6.2001</td>
							<td>Server 1</td>
							<td>
								<a class="btn btn-primary btn-circle" href="contractServerEdit.html">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>

	<!-- jQuery -->
	<script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js" th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>

</body>

</html>
