<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">

<head>
<th:block th:remove="all">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
</th:block>

<title th:text="#{head.title.contract.transactions}">Kontrakt - účetní položky</title>

<th:block th:remove="all">
  <!-- remove all duplicated template css due to auto-merge -->

  <!-- ResBill Custom CSS -->
  <link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />

  <!-- Bootstrap Core CSS -->
  <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

  <!-- Custom Fonts -->
  <link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />

  <!-- SB Admin 2 CSS -->
  <link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</th:block>
</head>

<body>
  <div layout:fragment="content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" th:text="#{page.header.contract.transactions}">Kontrakt - účetní položky</h1>
      </div>
    </div>

    <!-- Zobrazeni chyb -->
    <div class="row">
      <div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${transactions}')}" th:errors="${transactions}">Global error</div>
    </div>

    <!-- Taby -->
    <div th:replace="contracts/contractFragments :: contractHeader">Hlavicka</div>

    <!-- Zobrazeni vypisu transakci kontraktu -->
    <div class="row" th:if="${transactions != null}">
      <div class="col-lg-12">
        <table class="table" id="transactions">
          <thead>
            <tr>
              <th th:text="#{column.contract.transaction.order}">Pořadí</th>
              <th th:text="#{column.contract.transaction.evidenceNumber}">Evidenční číslo</th>
              <th th:text="#{column.contract.transaction.transactionType}">Typ</th>
              <th th:text="#{column.contract.transaction.decisiveDate}">Rozhodné datum</th>
              <th th:text="#{column.contract.transaction.title}">Název</th>
              <th th:text="#{column.contract.transaction.amount}">Částka</th>
              <th><a class="btn btn-primary btn-circle" href="contractTransactionEdit.html"
                th:href="@{/contracts/transactions/edit(contractId=${param.contractId})}" th:title="#{button.title.contract.transaction.add}"> <i
                  class="fa fa-plus-square"></i>
              </a></th>
            </tr>
          </thead>

          <tbody th:remove="all-but-first">
            <tr th:each="transaction: ${transactions}">
              <td th:text="${transaction.order}">1</td>
              <td th:text="${transaction.evidenceNumber}">2000000012</td>
              <td th:text="${transaction.transactionTypeTitle}">Faktura</td>
              <td th:text="${#dates.format(transaction.decisiveDate,'__#{date.format.list}__')}">1.6.2015</td>
              <td th:text="${transaction.title}">Faktura za měsíc červen</td>
              <td th:text="${#numbers.formatDecimal(transaction.amount,1,'DEFAULT',2,'DEFAULT')}">-1 000,0</td>

              <td><a class="btn btn-primary btn-circle" href="contractTransactionEdit.html"
                th:href="@{/contracts/transactions/edit(contractId=${param.contractId},transactionId=${transaction.transactionId})}"
                th:title="#{button.title.contract.transaction.edit}"> <i class="fa fa-edit"></i>
              </a></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 
    <div class="row">
      <div class="col-lg-12">
        <p>
          <a href="contractList.html" class="btn btn-default" th:href="@{/contracts}"> <i class="fa fa-reply"></i> <span th:text="#{button.back}">Back</span>
          </a>
        </p>
      </div>
    </div>
     -->
  </div>

  <!-- jQuery -->
  <script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"
    th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>
</body>
</html>