<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="resbill" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/resbill.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/resbill%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>	
	
	<appender name="persistence-sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/persistence-sql.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/persistence-sql%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>	
	
	<logger name="cz.vsb.resbill" level="DEBUG">
		<appender-ref ref="resbill" />
	</logger>
	
	<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<appender-ref ref="persistence-sql" />
	</logger>

	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="resbill" />
	</root>
</configuration>