<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">

<head>
<th:block th:remove="all">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
</th:block>

<title th:text="#{head.title.invoiceList}">Faktury</title>

<th:block th:remove="all">
  <!-- remove all duplicated template css due to auto-merge -->

  <!-- ResBill Custom CSS -->
  <link href="../../../css/resbill.css" rel="stylesheet" type="text/css" th:href="@{/css/resbill.css}" />

  <!-- Bootstrap Core CSS -->
  <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />

  <!-- Custom Fonts -->
  <link href="../../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />

  <!-- SB Admin 2 CSS -->
  <link href="../../../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css"
    th:href="@{/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css}" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</th:block>
</head>

<body>
  <div layout:fragment="content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" th:text="#{page.header.invoiceList}">Faktury</h1>
      </div>
    </div>

    <!-- Zobrazeni chyb -->
    <div class="row">
      <div class="col-lg-12 alert alert-danger" th:if="${showInvoicesCreateResults != null and #fields.hasErrors('${invoicesCreateResultsDTO}')}"
        th:errors="${invoicesCreateResultsDTO}">Global error</div>

      <!-- 
      <div class="col-lg-12 alert alert-danger"
        th:if="${#vars.containsKey('invoicesCreateResultsDTO') and #fields.hasErrors('${invoicesCreateResultsDTO}')}"
        th:errors="${invoicesCreateResultsDTO}">Global error</div>
         -->
    </div>
    <div class="row">
      <div class="col-lg-12 alert alert-danger" th:if="${#fields.hasErrors('${invoices}')}" th:errors="${invoices}">Global error</div>
    </div>

    <!-- Akcni prvky pro spusteni fakturace -->
    <div class="row">
      <div class="col-lg-12">
        <form class="form-inline" role="form" method="post" action="#">
          <div class="row">
            <div class="col-lg-12">

              <div class="form-group">
                <label class="control-label" th:text="#{label.invoice.createForMonth}" th:for="month">Vytvořit faktury za měsíc</label>
                <div class="input-group date" data-provide="datepicker" data-date-min-view-mode="1" data-date-autoclose="true" data-date-format="mm/yyyy"
                  th:attr="data-date-language=${#locale.language}">
                  <input type="text" class="form-control" name="month" readonly="readonly" /> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>

              <button class="btn btn-primary" type="submit" name="createInvoices">
                <i class="fa fa-calculator"></i> <span th:text="#{button.title.invoice.createForMonth}">Spustit</span>
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row voffset3" th:if="${showInvoicesCreateResults}">
      <div class="col-lg-12">


        <div class="panel panel-default">
          <div class="panel-heading" th:text="#{panel.invoice.createResults}">Výsledek fakturace</div>

          <div class="panel-body">
            <div class="row">

              <div class="col-lg-2">
                <div class="form-group">
                  <label class="control-label" th:text="#{label.invoice.createBegin}">Začátek importu</label>
                  <p class="form-control-static" th:text="${#dates.format(invoicesCreateResultsDTO.beginTimestamp,'__#{timestamp.format.detail}__')}">1.5.2015
                    08:05:30.123</p>
                </div>

                <div class="form-group">
                  <label class="control-label" th:text="#{label.invoice.createEnd}">Konec importu</label>
                  <p class="form-control-static" th:text="${#dates.format(invoicesCreateResultsDTO.endTimestamp,'__#{timestamp.format.detail}__')}">1.5.2015
                    08:05:30.123</p>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="form-group">
                  <label class="control-label" th:text="#{label.invoice.contractsNumberAll}">Počet všech zpracovávaných kontraktů</label>
                  <p class="form-control-static" th:text="${invoicesCreateResultsDTO.contractsNumberAll}">20</p>
                </div>

                <div class="form-group">
                  <label class="control-label" th:text="#{label.invoice.contractsNumberOk}">Počet úspěšně fakturovaných kontraktů</label>
                  <p class="form-control-static" th:text="${invoicesCreateResultsDTO.contractsNumberOk}">15</p>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="form-group">
                  <label class="control-label" th:text="#{label.invoice.contractsNumberNoPriceList}">Počet kontraktů bez ceníku</label>
                  <p class="form-control-static" th:text="${invoicesCreateResultsDTO.contractsNumberNoPriceList}">4</p>
                </div>

                <div class="form-group">
                  <label class="control-label" th:text="#{label.invoice.contractsNumberError}">Počet kontraktů s jinou chybou</label>
                  <p class="form-control-static" th:text="${invoicesCreateResultsDTO.contractsNumberError}">1</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Zobrazeni vypisu faktur -->
    <div class="row" th:if="${invoices != null}">
      <div class="col-lg-12">
        <table class="table" id="invoices">
          <thead>
            <tr>
              <th th:text="#{column.invoice.customer}">Zákazník</th>
              <th th:text="#{column.invoice.contract}">Kontrakt</th>
              <th th:text="#{column.invoice.order}">Pořadí</th>
              <th th:text="#{column.invoice.decisiveDate}">Rozhodné datum</th>
              <th th:text="#{column.invoice.evidenceNumber}">Evidenční číslo</th>
              <th th:text="#{column.invoice.amount}">Částka</th>
              <th th:text="#{column.invoice.priceListMissing}">Chybí ceník</th>
              <th></th>
            </tr>
          </thead>

          <tbody th:remove="all-but-first">
            <tr th:each="invoice : ${invoices}">
              <td th:text="${invoice.customerName}">Fakulta strojní</td>
              <td th:text="${invoice.contractName}">P.FS</td>
              <td th:text="${invoice.order}">1</td>
              <td th:text="${#dates.format(invoice.decisiveDate,'__#{date.format.list}__')}">02.06.2015</td>
              <td th:text="${invoice.evidenceNumber}">2000000123</td>
              <td th:text="${#numbers.formatDecimal(invoice.amount,1,'DEFAULT',2,'DEFAULT')}">3 563,00</td>
              <td><i th:if="${invoice.noPriceList}" class="fa fa-exclamation-circle text-danger" ></i></td>
              <td><a class="btn btn-primary btn-circle" href="invoiceDetail.html" th:href="@{/invoice/detail(invoiceId=${invoice.transactionId})}"
                th:title="#{button.title.invoice.detail}"> <i class="fa fa-edit"></i>
              </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="../../../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../../../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"
    th:src="@{/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js}"></script>
</body>
</html>